# Virtual Environments
venv/
venv_gpu/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Datasets and Large Files
data/
dataset/
saved_models/
results/
test_results/
mlruns/
mlflow.db
*.pth
*.zip
*.tar
*.gz
*.png
*.jpg
*.jpeg

# IDEs
.vscode/
.idea/
*.swp
.pytest_cache/

# .env overrides
.env
